/*Contact*/

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 75vh; /* sayfanın çoğunu kaplasın */
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  color: #333;
  font-weight: 300;
  font-size: 1rem;
}


.contact-content p {
  color: #666;
  margin-bottom: 2rem;
}

.contact-content a {
  color: #333; /* koyu siyah */
  font-weight: 600; /* kalın */
  text-decoration: none;
  font-size: 1.5rem;
}

.contact-links {
  margin-top: 2.5rem;
}

.contact-links a {
  margin: 0 1.5rem;
  font-size: 1.6rem;
}

.contact-links i {
  margin-right: 8px;
}

.contact-content a:hover {
  color: #999;
}
