.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  padding: 3rem 1rem;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
}

.grid-item {
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: transform 0.3s;
  width: 280px; /* Sabit genişlik */
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.grid-item p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}

.grid-item:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 992px) {
  .logo-header {
    margin-bottom: -5rem; /* Menü altındaki boşluk azaltıldı */
  }

  .wrapper {
    margin-top: 0; /* Üst boşluk minimumda */
  }

  .grid-container {
    gap: 2rem; /* Resimler arası boşluk azaltıldı */
    padding-top: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px)  {
  .logo-header {
    margin-bottom: 1rem; /* Menü altındaki boşluk azaltıldı */
  }

  .wrapper {
    margin-top: 0; /* Üst boşluk minimumda */
  }

  .grid-container {
    gap: 2rem; /* Resimler arası boşluk azaltıldı */
    padding-top: 1rem;
  }
}


/* Mobil için */
@media (max-width: 900px) {
  .grid-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .grid-item {
    width: 90%;
    max-width: 320px;
  }
}
